/* 改变默认主题色变量 */
$--color-primary: #00AFAD;;
$--color-text-primary: #323233;

/* Header
  --------------------------*/
$--header-padding: 0 24px !default;

/* Footer
  --------------------------*/
$--footer-padding: 0 24px !default;

/* Main
  --------------------------*/
$--main-padding: 24px !default;
